{% extends "base.html" %} 
{% block title %} Factorial {% endblock %}
{% block content %}

<script>
function factorial(num) {
    if (num < 0) {
            return -1;
    } else if (num == 0) { 
        return 1;
    } else {
        return (num * factorial(num - 1));
    }
}

function factorial_func(){
    var input = document.getElementById("input");
    var output = document.getElementById("output");
    var value = input.value;
    const regex = new RegExp(/[^0-9]/, 'g');
    if (value.match(regex)) {
        output.innerHTML="Enter a number";
    } else {
    output.innerHTML = factorial(Number(value));
}
}

</script>

<input autocomplete="off" id="input" type="text" onkeyup="factorial_func()" placeholder="Enter a number to factorial">

<p><span id="output"></span></p>

{% endblock %}