{% extends "base.html" %}
{% block title %} Challenges Home {% endblock %}

{% block content %}

<table>

<tr><td><a href={{ url_for('challenges.maths_quiz.maths_quiz') }}>Maths Quiz</a></td></tr>
<tr><td><a href={{ url_for('challenges.factorial.home') }}>Factorial</a></td></tr>
<tr><td><a href={{ url_for('challenges.code_cracker.home') }}>Code Cracker</a></td></tr>
<tr><td><a href={{ url_for('challenges.caesar_cipher.home') }}>Caesar Cipher</a></td></tr>
<tr><td><a href={{ url_for('challenges.reverse_it.home') }}>Reverse It</a></td></tr>
<tr><td><a href={{ url_for('challenges.fruit_machine.home') }}>Fruit Machine</a></td></tr>
<tr><td><a href={{ url_for('challenges.pangram.home') }}>Pangram Checker</a></td></tr>
<tr><td><a href={{ url_for('challenges.notes.home') }}>Notes</a></td></tr>
<tr><td><a href={{ url_for('challenges.morse_code.home') }}>Morse Code</a></td></tr>

</table>

{% endblock %}