{% extends "base.html" %}
{% block title %} User Home {% endblock %}

{% block content %}
<script src="{{ url_for('static',filename='javascript/table_sort.js') }}"></script>
<script src="{{ url_for('static',filename='javascript/table_search.js') }}"></script>
<input type="text" onkeyup="table_search()" id="search_box" placeholder="Search for users">
<table id="sort_table_id">
<tr>
    <td onclick="sort_alph(0)">Username</td>
    <td onclick="sort_num(1)">% Score</td>
    <td onclick="sort_num(2)">Number Score</td>
    <td onclick="sort_alph(3)">Time</td>
</tr>
{% for user in users %}
<tr>
    {% for item in user%}
    <td>{{item}}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>
{% endblock %}