{% extends "base.html" %}
{% block title %} Database list {% endblock %}

{% block content %}
<script src="{{ url_for('static',filename='javascript/table_sort.js') }}"></script>
<script src="{{ url_for('static',filename='javascript/table_search.js') }}"></script>
<input type="text" onkeyup="table_search()" id="search_box" placeholder="Search for users">
<table id="sort_table_id">
<tr>
    <td onclick="sort_alph(0)">Username</td>
    <td onclick="sort_alph(1)">% Score</td>
    <td onclick="sort_alph(2)">Role</td>
</tr>
{% for user in users %}
    <tr>
    {% for item in user %}
        <td>{{item}}</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
{% endblock %}